header {
    text-align: center;
    font-size: 1.5cm;
}

footer {
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 2cm;
}


body {
    background-color: cornflowerblue;
}



#calculator_frame {
    width: 12cm;
    background-color: rgb(110, 108, 108);
    height: 12cm;
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 2cm;
    border-style: inset;
    border-color: black;
}

#display {
    background-color: rgba(95, 255, 202, 0.61);
    position: relative;
    margin: auto;
    height: 2cm;
    width: 9cm;
    top: 48px;
    border-width: 10px;
    border-style:double;
    font-size: 40px;
    text-align: center;
}

#numpad {
    background-color: rgba(170, 170, 170, 0.295);
    text-align: center;
    position: relative;
    border-radius: 10px;
    top: 3.5cm;
    height: 6cm;
    width: 12cm;
    margin: auto;
}

.number:hover {
    background-color: rgb(253, 253, 77);
}

[id="1"], [id="2"], [id="3"], [id="4"], [id="5"], [id="6"], [id="7"], [id="8"], [id="9"], [id="0"], [id="."]{
    font-size: 36px;
    border-radius: 8cm;
    width: 2cm;
    top: 13px;
}

[id="."] {
    position: absolute;
    left: 7.2cm;
    top: 3.8cm;
}

[id="."]:hover {
    background-color: rgb(100, 241, 100)
}

[name=operators] {
    font-size: 30px;
    width: 1.5cm;
    display: flexbox;
    justify-content: center;
    position: relative;
    bottom: 6.2cm;
    background-color: rgb(221, 218, 218);
}

[name=operators]:hover {
    background-color: rgb(255, 98, 98);
}

[value=equal]:hover {
    background-color: rgb(255, 191, 73);
}
